body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: linear-gradient(to right, rgb(114, 176, 247), rgb(228, 169, 169));
    
}

.container {
    margin: 2rem;
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 500px 1fr;
    grid-template-rows: 150px 150px 150px;
    grid-template-areas: 
        "sidebar-1 content sidebar-2"
        "sidebar-1 content sidebar-2"
        "footer footer footer";

   
}

.item {
    background-color: coral;
    text-align: center;
    font-size: 2rem;
    font-weight: 700;

}

.footer {
    grid-area: footer;
}

.item1 {
    grid-area: sidebar-1;
}

.item2 {
    grid-area: content;
}

.item3 {
    grid-area: sidebar-2;
}

@media (max-width: 700px) {
    
    .container {
        grid-template-areas: 
        "content content content"
        "sidebar-1 sidebar-1 sidebar-1"
        "sidebar-2 sidebar-2 sidebar-2"
        "footer footer footer";   
    }
}